<div class="footer border-top thefooter bg-light">


    <div class="footer-info">
        <p><a href="/Privacy">Privacy</a></p>
        <p><a href="/Terms">Terms</a></p>
        <p><a href="/CompanyDetails">Company details</a></p>
    </div>

    <div class="footer-company">
        <p>&copy; 2025 WanderLust,Inc.</p>
    </div>



    <div class="footer-socials">
        <p>

            <a href="/Facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="/Instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="/X"><i class="fa-brands fa-x-twitter"></i></a>
        </p>
    </div>


</div>
