<nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/Listing"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link fw-bolder" href="/Listing">Explore</a>
      </div>
      <nav class="navbar navbar-nav bg-body- ms-auto">
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-danger" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <div class="navbar-nav ms-auto">
        <a class="nav-link fw-bolder" href="/Listing/create">Airbnb your home</a>
        <% if (!currUser){ %>

          <a class="nav-link fw-bolder" aria-current="page" href="/signup">Signup</a>
          <a class="nav-link fw-bolder" href="/login">Login</a>
          <% } %>
            <% if (currUser){ %>
              <a class="nav-link fw-bolder" href="/logout">Logout</a>
              <% } %>
      </div>
    </div>
  </div>
</nav>