<% layout('/Layouts/boilerplate.ejs') -%>
    
    <div class="row mt-3 ">
        
        <div class="alert alert-danger d-flex align-items-center justify-content-center h-25" role="alert">
            
            <div class=" alertclass">
                <h4 class="alert-heading d-flex align-items-center justify-content-center" >
                    <%= message%>
                </h4>
            </div>
        </div>
    </div>
